@import 'mixins';
@import 'variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.shadow {
    height: calc(100vh - 50px);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.708);
    position: absolute;
    z-index: 1;
}
img {
    height: calc(100vh - 50px);
    object-fit: cover;
    overflow: hidden;
}
.tr {
    object-position: top right;
}
.tc {
    object-position: center center;
}
.tl {
    object-position: top left;
}
.bc{
    object-position: bottom center;
}
.carousel-caption {
    z-index: 1;
}
.navbar {
    height: 50px;
}
.navbar-expand-lg .navbar-collapse {
    display: flex;
    justify-content: space-around;
    flex-basis: auto;
    }

